{% set gpgkeys = ([''] + (repo_data.repo_response.gpgkey | split('-----BEGIN'))[1:3]) | join(',-----BEGIN') | trim | split(',') %}
{
    "x86_64": [
        {
            "name": "aap-{{ composer_aap_version }}-rhel-{{ composer_rhel_version }}",
            "metalink": "{{ repo_data.repo_response.baseurl }}",
            "gpgkey": {{ gpgkeys[1] | to_json }},
            "check_gpg": true
        }
    ]
}