name = "{{ composer_build_name }}"
description = ""
version = "0.0.1"
modules = []
groups = []
distro = ""

[[packages]]
name = "ansible-automation-platform-installer"

[[packages]]
name = "WALinuxAgent"

[customizations]
[customizations.kernel]
append = ""

[[customizations.sshkey]]
user = "root"
key = "{{ _public_key | trim }}"
[customizations.timezone]
[customizations.locale]
[customizations.firewall]
[customizations.firewall.services]
[customizations.services]
[customizations.fdo]
[customizations.ignition]
[customizations.ignition.firstboot]