provider = "azure"

[settings]
storageAccount = "{{ composer_azure_storage_account_name }}"
storageAccessKey = "{{ composer_azure_storage_account_access_key }}"
container = "{{ composer_azure_storage_container_name }}"