provider = "aws"

[settings]
accessKeyID = "{{ composer_aws_access_key_id }}"
secretAccessKey = "{{ composer_aws_secret_access_key }}"
sessionToken = "{{ composer_aws_session_token }}"
bucket = "{{ composer_aws_bucket }}"
region = "{{ composer_aws_region }}"
key = "{{ composer_aws_image_key }}"